				*{
					margin:0px;
					padding:0px;
					}
				.slideshow {
				  position: absolute;
				  width: 100vw;
				  height: 100vh;
				  overflow: hidden;/*溢出隐藏*/			
				}
				.div1{
					width: 500px;
					height: 200px;
					/*border: 1px solid red;*/
					position: relative;
			        font-size: 45px;
			        color: white;
			        top: 30%;
			        font-family: "楷体";	
			        z-index: 4;
			        left: 35%;		        
                 }
                 .div2{
                 	width: 800px;
                 	height: 200px;
                 	/*border: 1px solid red;*/
                 	position: relative;
                 	font-size: 30px;
                 	color: white;
                 	top: 40%;
                 	font-family: "楷体";
                 	z-index: 4;
                 	left: 22%;
                 }
				.slideshow-image {
				  position: absolute;
				  width: 100%;
				  height: 100%;
				  background: no-repeat 50% 50%;
				  background-size: cover;
				 /* -webkit-animation-name: kenburns;*/
				  -webkit-animation-timing-function: linear;/*线性过度*/
				  -webkit-animation-iteration-count: infinite;/*动画无限次播放*/
				  -webkit-animation-duration: 16s;/*动画完成一个周期需要的时间*/
				  opacity: 1;/*透明度*/
				  -webkit-transform: scale(1.2);/*scale(x,y) 对元素进行缩放
												X表示水平方向缩放的倍数 | Y表示垂直方向的缩放倍数
												Y是一个可选参数，没有设置的话，则表示X，Y两个方向的缩放倍数是一样的。并以X为准。
												transform:scale(2,2.5);  */							
				}
				.slideshow-image:nth-child(1) {
				  -webkit-animation-name: kenburns-1;
				  z-index: 3;
				}
				.slideshow-image:nth-child(2) {
				  -webkit-animation-name: kenburns-2;
				  z-index: 2;
				}
				.slideshow-image:nth-child(3) {
				  -webkit-animation-name: kenburns-3;
				  z-index: 1;
				}
				.slideshow-image:nth-child(4) {
				  -webkit-animation-name: kenburns-4;
				  z-index: 0;
				}
				
				@-webkit-keyframes kenburns-1 {
				  0% {
				    opacity: 1;
				    -webkit-transform: scale(1.2);/*缩放倍数*/
				  }
				  1.5625% {
				    opacity: 1;
				  }
				  23.4375% {
				    opacity: 1;
				  }
				  26.5625% {
				    opacity: 0;
				    -webkit-transform: scale(1);
				  }
				  100% {
				    opacity: 0;
				    -webkit-transform: scale(1.2);
				  }
				  98.4375% {
				    opacity: 0;
				    -webkit-transform: scale(1.21176);
				  }
				  100% {
				    opacity: 1;
				  }
				}
				
				@keyframes kenburns-1 {
				  0% {
				    opacity: 1;
				    -webkit-transform: scale(1.2);
				  }
				  1.5625% {
				    opacity: 1;
				  }
				  23.4375% {
				    opacity: 1;
				  }
				  26.5625% {
				    opacity: 0;
				    -webkit-transform: scale(1);
				  }
				  100% {
				    opacity: 0;
				    -webkit-transform: scale(1.2);
				  }
				  98.4375% {
				    opacity: 0;
				    -webkit-transform: scale(1.21176);
				  }
				  100% {
				    opacity: 1;
				  }
				}
				@-webkit-keyframes kenburns-2 {
				  23.4375% {
				    opacity: 1;
				    -webkit-transform: scale(1.2);
				  }
				  26.5625% {
				    opacity: 1;
				  }
				  48.4375% {
				    opacity: 1;
				  }
				  51.5625% {
				    opacity: 0;
				    -webkit-transform: scale(1);
				  }
				  100% {
				    opacity: 0;
				    -webkit-transform: scale(1.2);
				  }
				}
				@keyframes kenburns-2 {
				  23.4375% {
				    opacity: 1;
				    -webkit-transform: scale(1.2);
				  }
				  26.5625% {
				    opacity: 1;
				  }
				  48.4375% {
				    opacity: 1;
				  }
				  51.5625% {
				    opacity: 0;
				    -webkit-transform: scale(1);
				  }
				  100% {
				    opacity: 0;
				    -webkit-transform: scale(1.2);
				  }
				}
				@-webkit-keyframes kenburns-3 {
				  48.4375% {
				    opacity: 1;
				    -webkit-transform: scale(1.2);
				  }
				  51.5625% {
				    opacity: 1;
				  }
				  73.4375% {
				    opacity: 1;
				  }
				  76.5625% {
				    opacity: 0;
				    -webkit-transform: scale(1);
				  }
				  100% {
				    opacity: 0;
				    -webkit-transform: scale(1.2);
				  }
				}
				@keyframes kenburns-3 {
				  48.4375% {
				    opacity: 1;
				    -webkit-transform: scale(1.2);
				  }
				  51.5625% {
				    opacity: 1;
				  }
				  73.4375% {
				    opacity: 1;
				  }
				  76.5625% {
				    opacity: 0;
				    -webkit-transform: scale(1);
				  }
				  100% {
				    opacity: 0;
				    -webkit-transform: scale(1.2);
				  }
				}
				@-webkit-keyframes kenburns-4 {
				  73.4375% {
				    opacity: 1;
				    -webkit-transform: scale(1.2);
				  }
				  76.5625% {
				    opacity: 1;
				  }
				  98.4375% {
				    opacity: 1;
				  }
				  100% {
				    opacity: 0;
				    -webkit-transform: scale(1);
				  }
				}
				@keyframes kenburns-4 {
				  73.4375% {
				    opacity: 1;
				    -webkit-transform: scale(1.2);
				  }
				  76.5625% {
				    opacity: 1;
				  }
				  98.4375% {
				    opacity: 1;
				  }
				  100% {
				    opacity: 0;
				    -webkit-transform: scale(1);
				  }
				}
