*{
			margin: 0px;
			padding: 0px;
		}
body{
    min-width: 1200px;
	background-color: white;
	background: url(../img1/bg.jpg);
	/*background-size:1500px 800px;*/
	background-attachment: fixed;
	background-size: 100%;
}
a{
	text-decoration: none;
}
/*.all{
	min-width:1300px;
	width:1500px;
}*/
.title{
	width:1165;
	height:24px;
	border: 1px solid black;
	background:grey;
	opacity: 0.5;
}
.word1{
	margin-left: 70px;
	margin-bottom: 5px;
	font-size: 15px;
	float: left;
}
.word3{
	float:right;
	font-size:15px;
	margin-left: 20px;
}
.div-ul{
	width:400px;
	height:20px;
	float:right;
	margin-right:50px ;
}
ul{list-style: none;}
.word2{
	font-size:15px;
	color:black;
}
.containe{
    width:150px;
    height: 50%;
   max-width:200px;
   background:rgba(0, 0, 0, 0.75);
   margin:150px 30px;
   padding:10px 0px 20px 0px;
   border:1px solid #111;
   border-radius:4px;
   box-shadow:0px 4px 5px rgba(0, 0, 0, 0.75);
   position: fixed;
   overflow: hidden;
}
.link{
   font-size:16px;
   font-weight:300;
   text-align:center;
   position:relative;
   height:40px;
   line-height:40px;
   margin-top:10px;
   overflow:hidden;
   width:90%;
   margin-left:5%;
   cursor:pointer;
}
.link:after{
   content: '';
   position:absolute;
   width:80%;
   border-bottom:1px solid rgba(255, 255, 255, 0);
   bottom:50%;
   left:-100%;
   transition-delay: all 0.5s;
   transition: all 0.5s;
}
.link:hover:after,
.link.hover:after{
   left:100%;
}
.link .text{
   text-shadow:0px -40px 0px rgba(255, 255, 255, 1);
   transition:all 0.75s;
   transform:translateY(100%) translateZ(0);
   transition-delay:all 0.25s;
}
.link:hover .text,
.link.hover .text{
   text-shadow:0px -40px 0px rgba(255, 255, 255, 0);
   transform:translateY(0%) translateZ(0) scale(1.1);
   font-weight:600;
}
.tu
{
 width: 150px;
 height: 148px;
 position: fixed;
 top: 30px;
 left: 27px;
}
.tu1
{
	width: 149px;
	height: 90px;
padding-left: 25px;
    padding-top: 9px;
}
.tu2
{
	width: 149px;
	height: 40px;
	padding-left: 35px;
	font-size: 20px;
}
.middle{
	background:ghostwhite;
	width:1165px;
	height:500px;
/*	border: 1px solid black;*/
	margin-left:180px;
	margin-top:50px;
	border-radius:15px ;
    background-size: 100% 100%;
	opacity: 0.75;
	text-align: center;
}
.img-style{
	margin: 50px 500px;
}
.word4{
	font-size: 30px;
	font-family: "宋体";
}
a:hover{
	color:red;
}
.footer{
	width:100%;
	height:100px;
	/*border: 1px solid white;*/
	text-align: center;
 padding-top: 100px;
 margin-top:0px;
}
.word5{
	color:white;
	margin-top:10px;
}
